body {
	background-color: rgb(102, 204, 255);
	color: white;
	font-size: 16px;
	font-family: 'Roboto', helvetica, sans-serif;
}
.logo{
	text-align: center;
	padding: 20px;
}
.img-logo {
	height: 35px;
}

.signup-container {
	width: 400px;
	height: auto;
	padding: 40px;
	background-color: white;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;	
}

.with-account{
	text-align: center;
	font-weight: bold;
}

.with-account a{
	color: white;
}
.with-account a:hover{
	color: rgb(240, 240, 245);
}

h1{
	color: grey;
	text-align: center;
}

.signup-container fieldset {
	border: none;
	color: black;
}

input{
	font-size: 20px;
	width: 320px;
	padding: 15px;
	border-width: 2px;
}

button{
	width: 355px;
	padding: 15px;
	font-size: 20px;
	cursor: pointer;
	border-radius: 5px;
	background: #15CD72;
	color: white;
	border: 0;
}

button:hover{
	background-color: #0CB863;
}

.forgot{
	text-align: center;
}
.forgot a{
	color: gray;
}
.forgot a:hover{
	color: #595959;
}

